.home-section .content button {
    margin-left: -25px;
    background-color: #008DF2;
    color: #FFFFFF;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid #008DF2;
}

.home-section .content button:hover {
    opacity: 50%;
    cursor: pointer;
}

.home-section button {
    margin-left: 30px;
}







